html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  margin: 20px 40px 0px 40px;
}

a{
    text-decoration: none;
    color: black;  
}
.boldMe{
    font-weight: bold;
}
.borderMe {
    border: 1px solid grey;
}
.pull-left{
    display: flex;
    justify-content:flex-start;
}
/* Book-Card component */
.book-list-panel {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the start of the container */
    gap: 20px; /* Add some space between the boxes */
}

.book-card {
    width: 200px;
    height: 300px;
    border: 1px solid #aaaaaa;
    text-align: left;
    margin-left: 0px;
}

.book-portrait {
    width: 100%; /* Adjust width to fill the container */
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}

    .book-portrait img {
        width: 100%;
        height: auto; /* Ensure image maintains aspect ratio */
    }

/*tabs*/
.tab-panel{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.tab-category a{
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    width: 130px;
    margin: 10px 5px;
}
.tab-category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;

}
.tab-box{
    min-width: 200px;

}
.tab-box::after last-child{

}